.perfil {
  display: flex;
  justify-content: center; 
  align-items: center;
 
  background-color: black;
}
@media screen and (max-width: 600px) {
    .perfil {
        flex-direction: column;
        padding: 20px;
        margin: 10px;
    }
    
}
.texto-perfil {
  color: #FCF9EA;
  max-width: 60%;
}
#imagem-perfil img {
  width: 200px;                
  height: 200px;              
  border-radius: 50%;          
  border: 3px solid #5c004e; 
  object-fit: cover;           
  display: flex;
             
}
.perfil div{
 justify-content: center;
 padding: 40px;
}
