.skills {
    display:flex;
    background-color: black;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

}

@media screen and (max-width: 600px) {
    .skills {
        flex-direction: column;
        padding: 20px;
        margin: 10px;
    }
    
}
.skills div {
 flex-grow: 1;
 background-color: black;
 border :1px solid white;
 margin :5px;
 padding :5px 30px 30px;
}

#h2-skill {
    background-color: black;
    padding: 5px 10px 10px;
    margin: 5px;
    width: 100%;
   
}
.Skills h3{
    text-align: center;
}