@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    font-family: "Arimo", sans-serif;
    font-weight: 700;
}
header{
    margin: 0;
    text-align: left;
}

main{
    display: flex;
    flex-direction: column;
}
footer{
    text-align: center;
    background-color: #5c004e;
    color: white;
    padding: 10px 0px;
    position: relative;
    bottom: 100%;
    width: 100%;
    
}

 

